
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summsarized.

Some of the popular languages that Data Scientists use are:
    1)Python
    2)RStudio
    3)SQL

Some of the commonly used libraries used by Data Scientists include:
    1)Pandas
    2)Numpy
    3)Matplotlib

|Data Science Tools:|
|-------------------|
|Apache Spark|
|R|
|Power Bi|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [9]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:** List popular languages for Data Science:
    * Python
    * R
    * Sql

## Author:
Suraj Yaligar